/*LOGIN / HOME */


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.welcome-home {
    font-size: 2.2rem;
}

.p-home {
    font-size: 1.2rem;
}


.form-home {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-home input {
    border: none;
    padding: .7rem;
    box-shadow: 0px 2px 4px rgb(200, 200, 200);
    font-size: 1.1rem;
    width: 290px;
    outline-color: rgba(217,54,54,1);
    background-color: rgb(258, 258, 258);
    margin-top: 10px ;
}

.form-home button {
    border: none;
    margin: 20px 0;
    background-color: rgba(217,54,54,1);
    color: white;
    font-size: 1.1rem;
    padding: .7rem;
    width: 290px;
    cursor: pointer;
}


.form-home button:hover {
    background-color: rgb(223, 29, 29);
    transform: scale(1.1);
    transition: 300ms ease;
}

/* POKEDEX */
.pokedex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 1rem;
}

.reception {
    font-weight: 600;
    font-size: 1.4rem;
}

.reception strong {
    color: rgba(217,54,54,1);
}

.container-title {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.container-search-filter {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.container-search-filter #input-search {
    border: none;
    padding: .7rem;
    box-shadow: 0px 2px 4px rgb(210, 210, 210);
    font-size: 1.1rem;
    width: 290px;
    outline-color: rgba(217,54,54,1);
}

.btn-search {
    border: none;
    margin: 10px 0;
    background-color: rgba(217,54,54,1);
    color: white;
    font-size: 1.1rem;
    padding: .7rem;
    cursor: pointer;
}

.container-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-filter select {
    outline: none;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0px 2px 4px rgb(210, 210, 210);
    padding: .4rem;
}

.container-filter option {
    font-size: .9rem;
    background-color: rgb(243, 243, 243);
}

.container-btns-pagination {
    display: flex;
    column-gap: 10px;
}

.btn-pagination {
    border: none;
    padding: .5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.container-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(243,112,112);
    background: linear-gradient(180deg, rgba(243,112,112,1) 4%, rgba(217,54,54,1) 53%);
    width: 290px;
    height: 340px;
    margin: 5px 5px;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}

.container-card figure img {
    width: 100%;
    max-width: 160px;
}

.container-card figure {
    position: absolute;
    top: 0px;
}

.container-main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 220px;
    padding: 1rem;
    border-radius: 10px;
}

.name-pokemon-card {
    text-align: center;
}

.container-types {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.type-pokemon {
    color: gray;
}


/*PAGE DETAIL POKEMON */

header {
    position: absolute;
    width: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: white;
    border-radius: 20px;
    top: 10px;
    left: 15px;
    transition: 300ms ease;
    cursor: pointer;
}

header nav span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;
}

header:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.605);
}

header nav span i {
    font-size: 1.4rem;
}

.pokemon-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(243,112,112);
    background: linear-gradient(180deg, rgba(243,112,112,1) 4%, rgba(217,54,54,1) 53%);
    column-gap: 1rem;
}

.section-pokemon {
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    width: 90%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.section-pokemon .container-img img {
    width: 100%;
    max-width: 230px;
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
}

.section-pokemon .container-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: relative;
}


.container-name-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.container-name-id .id-pokemon {
    background-color:  rgba(217,54,54,1);
    color: white;
    padding: .4rem;
    border-radius: 10px;
}

.container-name-id .name-pokemon {
    font-size: 1.8rem;
    text-transform: uppercase;
}


.container-weight-height {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
}

.container-types-detail {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: .4rem;
}
 
.detail {
    font-weight: 500;
    color: gray;
    font-size: 1.2rem;
}

.container-detail--types {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: .3rem 0;
}
.container-detail--types h3 {
    border: 1px solid gray;
    padding: .3rem;
    border-radius: 10px;
}

.container-detail--skills h3 {
    border: 1px solid gray;
    padding: .3rem;
    border-radius: 10px;
}

.container-detail--skills {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    padding: .3rem 0;
    align-items: center;
    justify-content: center;
}

.section-movements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    width: 90%;
    border-radius: 0 0 20px 20px;
    margin-bottom: 10px;
    border-top: 2px solid rgba(217,54,54,1) ;
}

.section-movements h2 {
    font-size: 1.9rem;
    padding: 1rem 0;
}


.container-movements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: .2rem;
    row-gap: .5rem;
    width: 90%;
    padding: 1rem 0;
}

.move-pokemon {
    background-color: rgb(208, 208, 208);
    border-radius: 20px;
    padding: .3rem .7rem;
    color: rgb(74, 74, 74);
}
